pandas
dbt-core
dbt-postgres
dagster
dagster-dbt
dagster-postgres
humanize==4.9.0
# ticktick-py==2.0.1
git+https://github.com/luutuankiet/ticktick-py.git
humanize
pytz
psycopg2-binary
Flask==3.0.3
Flask-Cors==5.0.0
gspread